
/* MENU BAR */

.main{
background-color:#0FF;
height:130px;
width:100%;}

.link{
margin-right:-70px;
margin-top:10px;
}

.link a{
font-size:18px;
color:#fff;
text-decoration:none;
text-align:center;
}

.logo{
margin-left:-28px;
}

ul
{
  position: absolute;
  top: 8%;
  left: 58.5%;
  transform: translate(-50%,195%);
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 2;
}
ul li
{
  list-style: none;
}
ul li a
{
  position: relative;
  display: block; 
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  margin: 0 8px;
  text-decoration: none;
  border-top: 4px solid rgba(203, 26, 58, 0.94);;
}
ul li a span
{
  width: 100%;
  height: 100%;
  background: rgba(203, 26, 58, 0.94);
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-family: Century;
  font-weight: bold;
  letter-spacing: 2px;
  transform-style: preserve-3d;
  perspective: 1000px;
}
ul li a span:before
{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  rgba(26, 203, 123, 0.94);
  color: #fff;
  transform-origin: top;
  transform: rotateX(270deg);
  transition: .8s;
}
ul li a:hover span:before
{
  transform: rotateX(0deg);
}
ul li a span:after
{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(203, 26, 58, 0.94);
  color: white;
  transform-origin: top;
  transform: rotateX(270deg);
  transition: .8s;
}

ul li a:hover span:after
{
  transition-delay: .5s;
  transform: rotateX(0deg);
}


.panel-footer1{
    height:320px;
	background-color: darkslategrey;
	border:none;
	margin-top:0px;
	padding:5px; 
}
.panel-footer1 li{
    padding: 5px;
    list-style: none; 
    margin-left: 45px;
    font-weight: 600;
    
}

.panel-footer1 fieldset{
    font-size: 20px;
    color: coral;
    margin-left: 20px;
    font-weight: bolder;
    
}

.col-md-3{
    padding: 15px;
   
}

.panel-footer1 li a{
    text-decoration: none;
    color: #fff;
    
}

.a{
    font-size: 10px;
    color: #fff;
}
.panel-footer{
	height:50px;
	background:#666;
	border:none;
	margin-top:0px;
	padding:15px;}

.conf a{
	font-size:20px;
	color#fff;}
	
.conf i{
	margin-left:15px;
	font-size:20px;
	color:#fff;}
	

#anchor{
	font-family: 'Great Vibes', cursive;
	color:#fff;
	padding:20px;
	font-size:28px;
	margin-left:0px;
	}